.generalHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleHero {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  gap: 20px;
  z-index: 1;
}

.titleHero h2 {
  color: white;
  font-size: 4.5vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 200;
}

.titleHero h2 span{
  font-weight: 700;
}
.flexButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flexButton button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  gap: 10px;
  cursor: pointer;
}

.flexButton button:hover{
  background-color: white;
  border-color: white;
}

.flexButton button .icon{
  font-size: 2.3rem;
  color: white;
}

.flexButton button:hover .icon{
  color: green;
}

.flexButton button div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}



.flexButton button div h3 {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.flexButton button div p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
  letter-spacing: 1px;
}

.flexButton button:hover div h3, .flexButton button:hover div p{
  color: green;
  border-color: green;
}

.bgHero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.bgHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnImage {
  width: 35%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  gap: 15px;
  flex-direction: column;
}

.btnImage div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btnImage div p {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.formContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.formContact label {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContact label .icon{
  color: white;
  font-size: 1.1rem;
  position: absolute;
  right: 10px;
}

.formContact label input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;

  color: white;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}

.formContact label input::placeholder {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.formContact label:hover{
  border: 1px solid white;
}


.formContact button{
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  color: white;
  letter-spacing: 1px;
  backdrop-filter: blur(5px);
  cursor: pointer;
  gap: 10px;
}

.formContact button:hover{
  background-color: white;
  border-color: white;
  color: green;
}
