.generalHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleHero {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  gap: 20px;
  z-index: 1000;
}

.titleHero h2 {
  color: white;
  font-size: 4.5vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 800;
}

.titleHero h2 span {
  font-weight: 400;
}

.flexButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flexButton a {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.flexButton a:hover {
  background-color: white;
  border-color: white;
}

.flexButton a .icon {
  font-size: 2.3rem;
  color: white;
}

.flexButton a:hover .icon {
  color: green;
}

.flexButton a div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.flexButton a div h3 {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.flexButton a div p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
  letter-spacing: 1px;
}

.flexButton a:hover div h3,
.flexButton a:hover div p {
  color: green;
  border-color: green;
}

.bgHero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgHero::after {
  content: "";
  width: 50vw;
  height: 100vh;
  background: linear-gradient(
    to Left,
    rgba(86, 86, 86, 0.607),
    rgba(8, 96, 0, 0)
  );
  z-index: 500;
  right: 0px;
  position: absolute;
}

.bgHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnImage {
  width: 35%;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  gap: 15px;
  flex-direction: column;
}

.btnImage div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btnImage div p {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.formContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.formContact label {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContact label .icon {
  color: white;
  font-size: 1.1rem;
  position: absolute;
  right: 10px;
}

.formContact label input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;

  color: white;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}

.formContact label input::placeholder {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.formContact label:hover {
  border: 1px solid white;
}

.formContact button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  color: white;
  letter-spacing: 1px;
  backdrop-filter: blur(5px);
  cursor: pointer;
  gap: 10px;
}

.formContact button:hover {
  background-color: white;
  border-color: white;
  color: green;
}

.btnImage div .icon {
  color: white;
  font-size: 1rem;
}

.logoNav{
  display: none;
}

@media (max-width: 1000px) {
  .titleHero {
    top: 30px;
    right: auto;
    left: 5%;
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  .titleHero h2 {
    font-size: 8.8vw;
    text-align: left;
    font-weight: 300;
  }

  .titleHero h2 span {
    font-weight: 700;
  }

  .flexButton button {
    padding: 10px 10px;
  }

  .flexButton button .icon {
    font-size: 1.8rem;
  }

  .flexButton button div {
    align-items: flex-start;
  }

  .flexButton button div h3 {
    font-size: 0.8rem;
  }

  .flexButton button div p {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
    .titleHero {
    top: 20px;
    left: 0%;
  }

  .titleHero h2 {
    font-size: 7vw;
    margin-left: 5%;
  }


  .generalHero {
    height: auto;
  }

  .btnImage {
    margin-top: 60vh;
    margin-bottom: 35vh;
    width: 80%;
    position: relative;
    bottom: auto;
    right: auto;
    gap: 15px;
    flex-direction: column;
  }

  .btnImage div {
    width: 100%;
    align-items: flex-start;
  }

  .btnImage div p {
    font-size: 1.3rem;
  }

  .formContact {
    align-items: center;
    gap: 20px;
  }

  .formContact label {
    width: 100%;
    height: 60px;
  }

  .formContact button {
    padding: 15px 25px;
    font-size: 1rem;
  }

  .flexButton {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .flexButton a {
    flex-direction: row-reverse;
    padding: 10px 10px;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
  }

  .flexButton a .icon {
    font-size: 1.5rem;
  }

  .flexButton a div h3 {
    font-size: 0.7rem;
    text-align: left;
  }

  .flexButton a div p {
    font-size: 0.5rem;
  }
}
