.generalHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleHero {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  gap: 20px;
  z-index: 1000;
}

.titleHero h1 {
  color: white;
  font-size: 4.5vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 800;
}

.titleHero h1 span {
  font-weight: 400;
}

.flexButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flexButton a {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.flexButton a:hover {
  background-color: white;
  border-color: white;
}

.flexButton a .icon {
  font-size: 2.3rem;
  color: white;
}

.flexButton a:hover .icon {
  color: green;
}

.flexButton a div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.flexButton a div h3 {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.flexButton a div p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
  letter-spacing: 1px;
}

.flexButton a:hover div h3,
.flexButton a:hover div p {
  color: green;
  border-color: green;
}

.bgHero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgHero::after {
  content: "";
  width: 50vw;
  height: 100vh;
  background: linear-gradient(
    to Left,
    rgba(40, 40, 40, 0.462),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  z-index: 500;
  right: 0px;
}

.bgHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnImage {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  gap: 15px;
  flex-direction: column;
  z-index: 1000;
}

.btnImage div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnImage div p {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.btnImage div .icon {
  color: white;
  font-size: 1rem;
}

.flexOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flexOptions .boxImage {
  width: 110px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(7px 7px 5px #131313d2);
}

.btnImage .boxImage .thumbVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.flexOptions .boxImage:hover {
  border: 1px solid white;
}

.logoNav {
  display: none;
}

.vid {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: l16 1s linear;
}

@keyframes l16 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .titleHero {
    top: 30px;
    right: auto;
    left: 5%;
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  .titleHero h1 {
    font-size: 8.8vw;
    text-align: left;
  }

  .btnImage {
    bottom: 150px;
    right: 5%;
  }

  .btnImage div {
    width: 120px;
    align-items: flex-end;
  }

  .btnImage div p {
    text-align: right;
  }

  .flexOptions {
    flex-direction: column;
    gap: 10px;
  }

  .flexOptions .boxImage {
    width: 100px;
    height: 60px;
  }

  .flexButton a {
    padding: 10px 10px;
  }

  .flexButton a .icon {
    font-size: 1.8rem;
  }

  .flexButton a div {
    align-items: flex-start;
  }

  .flexButton a div h3 {
    font-size: 0.8rem;
  }

  .flexButton a div p {
    font-size: 0.7rem;
  }

  .logoNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {

  .logoNav img{
    margin-left: 5%;
  }
  .titleHero {
    top: 20px;
    left: 0%;
  }

  .titleHero h1 {
    font-size: 7vw;
    margin-left: 5%;
  }

  .bgHero::after {
    width: 55vw;
    background: linear-gradient(
      to Right,
      rgba(40, 40, 40, 0.462),
      rgba(0, 0, 0, 0)
    );
    z-index: 500;
    right: auto;
    left: 0px;
  }

  .flexButton {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .flexButton a {
    flex-direction: row-reverse;
    padding: 10px 10px;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
  }

  .flexButton a .icon {
    font-size: 1.5rem;
  }

  .flexButton a div h3 {
    font-size: 0.7rem;
    text-align: left;
  }

  .flexButton a div p {
    font-size: 0.5rem;
  }

  .flexOptions {
    gap: 15px;
  }

  .flexOptions .boxImage {
    width: 90px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
  }

  .flexOptions .boxImage .thumbVideo{
    border-radius: 15px 0px 0px 15px;
  }

  .btnImage {
    right: 0px;
    bottom: 110px;
  }

  .btnImage div{
    margin-right: 10px;
  }

  .btnImage div p {
    text-align: right;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
  }

  
}
