.generalNav {
  width: 20%;
  min-width: 250px;
  height: 100vh;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  z-index: 100000;
}

.containerNavigation {
  width: 90%;
  height: 45%;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(0, 0, 0, 0.176);
  border-right: 1px solid rgba(255, 255, 255, 0.433);
  border-top: 1px solid rgba(255, 255, 255, 0.433);
  border-bottom: 1px solid rgba(255, 255, 255, 0.433);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}

.containerNavigation button {
  width: 90%;
  height: 16%;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 12%;
  cursor: pointer;
}

.containerNavigation button:hover {
  background-color: white;
  border-color: white;
}

.containerNavigation button p {
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 400;
}

.containerNavigation button:hover p {
  color: green;
  font-weight: 700;
}

.containerNavigation button .icon {
  color: white;
  font-size: 1.8rem;
}

.containerNavigation button:hover .icon {
  color: green;
}

.contactChannels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btnContact {
  background-color: white;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
  color: green;
  letter-spacing: 1px;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.btnContact .icon {
  transform: rotate(-45deg);
  font-size: 1.3rem;
}

.btnContact:hover {
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  color: white;
}

.btnContact:hover .icon {
  color: white;
}

.flexButton {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flexButton a {
  width: 45px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: green;
}

.flexButton a .icon {
  font-size: 1.1rem;
}

.flexButton a:nth-child(1) .icon {
  font-size: 1.5rem;
}

.flexButton a:hover {
  background-color: rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(255, 255, 255, 0.433);
  color: white;
}

.flexButton a:hover .icon {
  color: white;
}

.logoNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .generalNav {
    min-width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
  }

  .containerNavigation {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    border-right: 0px solid rgba(255, 255, 255, 0.433);
    border-top: 1px solid rgba(255, 255, 255, 0.433);
    border-bottom: 0px solid rgba(255, 255, 255, 0.433);
    flex-direction: row;
    overflow-y: auto;
  }

  .containerNavigation button {
    width: auto;
    height: 100%;
    justify-content: center;
    gap: 15px;
    padding-left: 0%;
    padding: 20px;
    cursor: pointer;
  }

  .containerNavigation::-webkit-scrollbar {
    height: 0px;
  }

  .contactChannels {
    position: absolute;
    bottom: 150px;
    width: 100%;
    align-items: flex-start;
    padding-left: 5%;
  }

  .flexButton {
    width: auto;
    justify-content: center;
    gap: 20px;
  }

  .logoNav {
    display: none;
  }
}

@media (max-width: 800px) {
  .generalNav {
    min-width: 100%;
    height: 60px;
  }

  .contactChannels {
    display: none;
  }
}
