.generalHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleHero {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  gap: 30px;
  z-index: 1;
}

.bgHero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.bgHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnImage {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  gap: 15px;
  flex-direction: column;
}

.btnImage div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnImage div p {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.flexOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flexOptions button {
  width: 110px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(7px 7px 5px #131313d2);
}

.btnImage button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.flexOptions button:hover {
  border: 1px solid white;
}

.flexTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.flexTitle h3 {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.flexTitle .icon {
  color: white;
  font-size: 1.1rem;
}

.containerItems {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 25px;
}

.containerItemsTwo {
  display: none;
}

.itemDato {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
}

.itemDato .icon {
  color: white;
  font-size: 2.5rem;
}

.itemDato div {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.itemDato div p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.itemDato div h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: right;
  line-height: 1.1;
  font-weight: 700;
}

.logoNav {
  display: none;
}

.btnImage div .icon {
  color: white;
  font-size: 1rem;
}

.btnActive {
  display: none;
}

@media (max-width: 1000px) {
  .logoNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .titleHero {
    top: 30px;
    right: auto;
    left: 5%;
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  .titleHero h3 {
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
  }

  .flexTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .flexTitle h3 {
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .flexTitle .icon {
    color: white;
    font-size: 1.1rem;
  }

  .containerItems {
    width: 50%;
    align-items: flex-start;
    gap: 20px;
  }

  .itemDato {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .itemDato .icon {
    font-size: 2.3rem;
  }

  .itemDato div {
    align-items: flex-start;
    gap: 10px;
    width: 80%;
  }

  .itemDato div p {
    font-size: 0.9rem;
    text-align: left;
  }

  .itemDato div h4 {
    font-size: 1rem;
    text-align: left;
  }

  .btnImage {
    bottom: 150px;
    right: 5%;
  }

  .btnImage div {
    width: 120px;
    align-items: flex-end;
  }

  .btnImage div p {
    text-align: right;
  }

  .flexOptions {
    flex-direction: column;
    gap: 10px;
  }

  .flexOptions button {
    width: 100px;
    height: 60px;
  }
}

@media (max-width: 800px) {
  .btnActive {
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    height: 40px;
    padding: 0px 15px;
    align-items: center;
    justify-self: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.292);
    backdrop-filter: blur(5px);
    color: white;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
  }

  .btnActive:hover{
    background-color: white;
    color: green;
  }

  .flexOptions {
    gap: 15px;
  }

  .flexOptions button {
    width: 90px;
    height: 50px;
  }

  .btnImage div p {
    text-align: right;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
  }

  .btnImage {
    bottom: 110px;
  }

  .containerItems {
    display: none;
  }

  .containerItemsTwo {
    width: 80%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .itemDato .icon {
    font-size: 2.3rem;
  }

  .itemDato div {
    align-items: flex-start;
    gap: 10px;
    width: 80%;
  }

  .itemDato div p {
    font-size: 0.9rem;
    text-align: left;
  }

  .itemDato div h4 {
    font-size: 1rem;
    text-align: left;
  }
}
